* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-image: url('photo-1489844097929.jpg');
    background-size: cover;
    box-sizing: border-box;
}

h1 {
	color: rgb(230, 148, 148);
	font-size: 3rem;
	font-weight: 50;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    margin: auto;
    padding-bottom: 10px; 
    font-family:Arial, Helvetica, sans-serif;
}

.inputDiv{
	display: flex;
	justify-content: center;
	align-items: center;
}

.input{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 300px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
}

.add{
	outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: lime;
    color: white;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
}

.add:hover{
	opacity: 0.7;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
}

.item{
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    color: black;
}

.item_input{
	background: whitesmoke;
	color: rgb(45, 155, 80);
	font-size: 1.4rem;
    width: 245px;
    text-align: center;
    border-radius: 10px;
}
.remove{
	background: whitesmoke;
    border:2px solid rgb(104, 148, 118);
    border-radius: 15px;
	color: rgb(231, 3, 3);
    font-size: 1.6rem;
    margin-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    width: 70px;
}
.remove:hover{
    background: dimgray;
}